* {
	font-family: 'Abel', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.imgBack {
	background: url(../img/principalBack.jpg) no-repeat center;
	height: 620px;
}

.myName {
	padding-top: 180px;
	text-align: center;
	font-size: 100px;
	color: white;
}

.subName {
	margin: auto;
	text-align: center;
	color: gainsboro;
}

body {
	background-color: whitesmoke;
}

.h1TitleContent {
	text-align: center;
}

.hrLine {
	width: 120px;
	background-color: red; 
	height: 1px;
}

.pText {
	font-size: 20px;
}

.imgSkills {
	padding-top: 25px;
}

footer {
	height: 250px;
	background-color: white;
}

.h1TitleFooter {
	text-align: center;
	padding-top: 25px;
}

.btnSendMsg {
	width: 150px;
}

.iconSend {
	vertical-align: middle;
	margin-left: 15px;
}